<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/cart.css">
    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <ul class="cart__item-list">
                <% products.forEach(p => { %>
                    <li class="cart__item">
                        <h1><%= p.productId.title %></h1>
                        <h2>Quantity: <%= p.quantity %></h2>
                    </li>
                <% }) %>
            </ul>
            <div class='centered'>
                <h2>Total: <%= totalSum %></h2>
            </div>
            <div class='centered'>
                <form action="/create-order" method="POST">
                    <script
                      src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                      data-key="pk_test_HVO3l0uG6rtAI30cuCgwmDLj"
                      data-amount="<%= totalSum * 100 %>"
                      data-name="Your Order"
                      data-description="Ordered Items"
                      data-locale="usd">
                    </script>
                </form>
            </div>
        </main>
<%- include('../includes/end.ejs') %>